.container{
    height: 100vh;
    max-width: 100%;    
    padding: 0;
    margin:0; 
    overflow: hidden;
    background: url(../../assets/banner2.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}
.center{
    width: 100%;
    height: 100vh;
    float: left;
    position: absolute;
    opacity:0.9;
    background-color:#ffffff;
    // padding-top: 50px;
}
.logo{
    margin: 80px 550px;
}
.submit{
    width: 100%;
    margin-top: 20px;
    position: absolute;
}
.submit a{
    color: #ffffff;    
    text-decoration: none;  
    padding: 8px 150px;
    background: orange;
    font-size: 20px; 
    margin-left: 5px; 
}
.submit button{
    color: #ffffff;    
    text-decoration: none;  
    padding: 10px 90px;
    background: orange;
    font-size: 20px; 
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    box-shadow: none;
    margin-left: 490px;
    margin-top: 340px;
}
.chu1 {
    margin-left: 560px;
    margin-bottom: 20px;
}
.chu2 {
    margin-left: 400px;
    margin-bottom: 20px;
}
.chu3 {
    margin-left: 550px;
}
.mauxam1{
    color: rgb(82, 80, 80);
    font-weight: bold;
}



