<div class="container">
  <div class="center">
    <div class="logo">
      <img src="../../assets/logo.png" alt="" srcset="">
    </div>
    <h2 class="mauxam1 chu1">ĐẶT HÀNG THÀNH CÔNG</h2>
    <h1 class="chu2">Cảm ơn quý khách đã đặt hàng tại The Coffee House</h1>
    <h2 class="chu3">Chúc quý khách ngon miệng !</h2>
  </div>

  
    <div class="submit" style="cursor: pointer">
      <button type="button" [routerLink] = "['/order']">TIẾP TỤC MUA HÀNG</button>
    </div>
 
</div>