
.container{
    height: 100vh;
    max-width: 100%;    
    padding: 0;
    margin:0; 
    overflow: hidden;

    background: url(../../assets/banner2.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

.left{
    width: 65%;
    height: 100vh;
    float: left;
    position: absolute;
    opacity:0.9;
    background-color:#ffffff;
}
.right{
    width: 35%;
    height: 100vh;
    float: right;
    opacity:0.9;
    background-color:#ffffff;
    padding-top: 35px;
}
.clear-both{
    clear: both;
}
.tieude{
    text-align: center;
    padding-top: 100px;
}
.tieude h2{
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px;
}
.cam{
    color: orange;
}
.tieude h4{
    padding-top: 20px;
}
.content{
    position: relative;
    height: auto;
}
.content .anh{
    background: url(../../assets/anh.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    /* background-attachment: fixed; */
    height: 295px;
    /* width: 400px; */
    position: absolute;
    margin: 40px 50px;
    float: left;
    width: 50%;
}
.content .orderstep{
    float: right;
    width: 50%;
    padding: 40px 75px;
}
p{
    font-size: 15px;
}
.anhlogo{
    background: url(../../assets/logo.png) no-repeat;
    background-size: cover;
    width: 261px;
    height: 20px;
    margin-left: 50px;
}
.thongtin{
    padding-top: 30px;
}
.mauxam{
    color: gray;
    font-weight: bold;
}
.form-control {
    margin: 20px 0;
    width: 90%;
    height: 40px;
    input {
        padding: 7px 5px;
        border-radius: 3px;
        outline: none;
        border: 1px solid white;
        box-shadow: none;
        background: transparent;
        width: 100%;
      }
  }
  .submit{
    width: 100%;
  }
  .mistake{
      margin-top: 5px;
      color: red;
  }

.submit button{
    color: #ffffff;    
    text-decoration: none;  
    padding: 5px 150px;
    background: orange;
    font-size: 20px; 
    margin-left: 5px; 
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    box-shadow: none;
}
