.container{
    height: 100vh;
    max-width: 100%;    
    padding: 0;
    margin:0; 
    overflow: hidden;
    background: url(../../assets/banner2.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    .wrapping{
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
}

.left{
    width: 65%;
    height: 100vh;
    float: left;
    position: absolute;
}
h2{
    color: rgb(68, 67, 67);
    font-weight: bold;
}
.right{
    width: 35%;
    height: 100vh;
    float: right;
    padding-top: 35px;
    padding-left: 30px;
}
form{
    margin-left: 30px;
}
.clear-both{
    clear: both;
}
.tieude{
    text-align: center;
    padding-top: 100px;
}
.tieude h2{
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px;
}
.cam{
    color: orange;
}
.tieude h4{
    padding-top: 20px;
}
.content{
    position: relative;
    height: auto;
}
.content .anh{
    background: url(../../assets/anh.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    /* background-attachment: fixed; */
    height: 295px;
    /* width: 400px; */
    position: absolute;
    margin: 40px 50px;
    float: left;
    width: 50%;
}
.content .orderstep{
    float: right;
    width: 50%;
    padding: 40px 75px;
}
p{
    font-size: 15px;
}
.anhlogo{
    background: url(../../assets/logo.png) no-repeat;
    background-size: cover;
    width: 261px;
    height: 20px;
    margin-left: 50px;
}
.wrapper{
    display: none;
    margin-left: 50px;
    margin-bottom: 30px;
}

.mauxam1{
    color: rgb(82, 80, 80);
    font-weight: bold;
}
.mauxam{
    color:orange;
    font-weight: bold;
}
.form-control {
    margin: 15px 0;
    width: 90%;
    height: 40px;
    input {
        padding: 7px 5px;
        border-radius: 3px;
        outline: none;
        border: 1px solid #e2e2e2;
        box-shadow: none;
        background: transparent;
        width: 100%;
      }
  }
  .submit{
    width: 100%;
    margin-top: 20px;
}
.diadiem{
    margin-top: 30px;
}
span {
    font-size: 15px;
    
}
.submit a{
    color: #ffffff;    
    text-decoration: none;  
    padding: 8px 150px;
    background: orange;
    font-size: 20px; 
    margin-left: 5px; 
}
.submit button{
    color: #ffffff;    
    text-decoration: none;  
    padding: 10px 77px;
    background: orange;
    font-size: 20px; 
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    box-shadow: none;
    margin-left: 53px;
}
.wrapping-listmenu{
    width: 100%;
    max-height: 500px;
    overflow: auto;
}
.list_menu h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.item{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(245, 240, 240);
    border-radius: 3px;
}
.item:hover{
    background-color: wheat;
    // border: #e2e2e2;
}
.titleMenu1, .titleMenu2, .titleMenu3, .titleMenu4, .titleMenu5, .titleMenu6, .titleMenu7, .titleMenu8{
    text-align: left;
    padding-top: 10px;
    color: rgb(255, 166, 0);
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    margin-left: 30px;
}
.listItem1, .listItem2, .listItem3, .listItem4, .listItem5, .listItem6, .listItem7, .listItem8{
    display: none;
    background-color: #ffffff;
    font-size: 17px;
    height: auto;
}
.listItem1 .monnoibat{
    margin-left: 15px;
}
// .listItem1 .monnoibat .img{
//     padding: 15px 15px;
//     float: left;
//     width: 217px;
// }
.caret{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.item-box {
    height: 280px;
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin-bottom: 20px;
    width: 217px;
    float: left;
    padding: 10px 10px;
    margin-left: 5px;
}

.item-box-content {
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    height: 280px;
    border: 1px solid #ddd;
}
.menu-item {
    color: #fff;
    font-size: 14px;
    position: relative;
}
.menu-item-name {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-size: 10px;
    display: table;
    font-weight: 700;
    width: 100%;
    background-color: rgba(255, 121, 44, 0.7);
    // margin-bottom: 35px;
    padding: 10px 15px;
}
.name_item {
    display: table-cell;
    vertical-align: middle;
}
.item-thumbnail-container{
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    height: 170px;
    background-size: cover;
}
// .item-thumbnail-container .img{
//     background-repeat: no-repeat;
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//     background-position: center;
//     height: 170px;
//     background-size: cover;
//     width: 195px;
// }
.item-thumbnail-container img{
    width: 209px;
    height: 205px;
}
.menu-item-desc {
    font-size: 11px;
    background-color: #555;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    height: 35px;
    width: 209px;
    text-align: center;
    position: absolute;
}
.variants-container {
    width: 100%;
    height: 75px;
    border-radius: 0 0 5px 5px;
    margin: 0 !important;
}

.add_remove{
    width: 100%;
    margin-left: 9px;
    margin-top: 35px;

}
.remove, .add{
    height:78px;
   
    padding: 0
}
i{
    font-size: 40px;
    color: wheat;
    top: 50%;
    left: 50%;
    transform: translate(79%,45%);
}
.remove:hover{
    // background-color: rgb(247, 217, 222);
    i{
        color: orange;
    }
}
.add:hover{
    // background-color:rgb(247, 217, 222);
    i{
        color: orange;
    }
}
.btn{
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 20px;
}
.danhsachchon{
    margin-left: 50px;
}